/*
!.zshrc
# !niri
!.p10k.zsh
!scripts
# !mango
!nvim.bak
!fontconfig
# !wofi
!rofi
!waybar
!hypr
!.gitignore
!backlight
!dunst
!i3
!kitty
!nvim
!polybar
!pipewire
!rmpc
!volume
!sub
!mpd/mpd.conf
!clipse/config.json
!clipse/custom_theme.json
